<% provide(:title, "Sign up") %>
<h1>Sign up</h1>
<!-- <p>This will be a signup page for new users.</p> -->

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @user, local: true) do |f| %>
      <%= f.label :name, for: "f_name" %>
      <%= f.text_field :name, id:"f_name" %>

      <%= f.label :email, for: "f_email" %>
      <%= f.email_field :email, id: "f_email" %>

      <%= f.label :password, for: "f_password" %>
      <%= f.password_field :password, id: "f_password" %>

      <%= f.label :password_confirmation, "Confirmation", for: "f_confirmation" %>
      <%= f.password_field :password_confirmation, id: "f_confirmation" %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>

  </div>

</div>
